/*!=== RESPONSIVE STYLE ===*/

@media (width <=1030px) {
  /*!=== PRODUCTS LISTING STYLING ===*/

  .all-products-card {
    flex: 1 1 50% !important;
  }
}

@media (width <=955px) {
  .cartItemCard {
    flex-direction: column;
  }
  .cartImg {
    width: 100%;
  }
}

@media (width<= 768px) {
  .FormModal {
    width: 80% !important;
  }
}
