@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

* {
  font-family: "poppins", sans-serif !important;
}

body,
html {
  overflow-x: hidden !important;
}

section {
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

.inputCover {
  background-color: rgb(241, 243, 244);
}

.inputCover > input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/*!=== NAVIGATION BAR ===*/

.rightNavigation > .rightSideLink::after {
  font-size: 0.8rem;
  position: absolute;

  top: -110%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightNavigation > .rightSideLink:hover::after {
  color: white;
}

.rightNavigation > .rightSideLink:nth-child(1)::after {
  content: "New";
  width: 4rem;
  height: 1.3rem;
  background-color: rgb(18, 180, 110);
  right: 10%;
}

.rightNavigation > .rightSideLink:nth-child(2)::after {
  content: "Sale";
  width: 2.9rem;
  height: 1.3rem;
  background-color: rgb(244, 55, 55);
  right: 0%;
}

.rightNavigation > .rightSideLink::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: -25%;
  border-width: 8px;
  border-style: solid;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.rightNavigation > .rightSideLink:nth-child(1)::before {
  right: 40%;
  border-color: transparent transparent rgb(18, 180, 110) transparent;
}

.rightNavigation > .rightSideLink:nth-child(2)::before {
  right: 25%;
  border-color: transparent transparent rgb(244, 55, 55) transparent;
}

/*!=== SERVICES SECTION ===*/

/* .servicesCard {
  flex: 1 1 40%;
} */

.servicesCard:hover > .serviceIconCover > .serviceIcon {
  color: white;
}

/*!=== CATEGORY SECTION ===*/

.categoriesSubHeading {
  font-size: 1.2rem;
}

.categoriesImgCover > img {
  background-color: rgb(243, 243, 241);
}

:is(.categoriesImgCover, .FeaturedProdsImgCover):hover > img {
  filter: brightness(1.02);
  -webkit-filter: brightness(1.02);
}

/*!=== FEATURED PRODUCTS & PRODUCTS DETAIL SECTION ===*/
.featuredProdsContainer {
  padding-bottom: 120px;
}
.featuredProdsItemHeading {
  font-size: 18px;
}
.FeaturedProdsWarranty {
  font-size: 16px;
}

.FeaturedProdsImgCover,
.prodDetailImg {
  background-color: rgb(245, 245, 245);
}

.viewAllProductsBtn {
  position: absolute !important;
  bottom: 5% !important;
  left: 50% !important;
  transform: translate(-50%);
  z-index: 1 !important;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.AppModal {
  width: 80% !important;
}
.ant-modal-content {
  padding: 0% !important;
}
/*!=== PRODUCTS LISTING STYLING ===*/

.productListingContainer {
  padding: 0 1rem !important;
}
.productListingCard {
  flex: 1 1 30% !important;
}

.productListingCartBtn {
  gap: 0.7rem !important;
  margin-top: 1rem !important;
}

.filterInputs > label {
  margin-bottom: 1rem !important;
}

/*!=== LOADER ===*/

.loader {
  background-color: rgba(172, 172, 172, 0.9);
}

/*!=== PRODUCTS DETAILS MODAL ===*/
.ProdDetailModal {
  background-color: rgba(0, 0, 0, 0.8);
}

/*!=== CART ITEMS CARDS ===*/
.removeCardIcon {
  font-size: 20px;
  border-bottom-left-radius: 10px;
}

.cartItemCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quantityBtn {
  border: none !important;
  outline: none !important;
}

.quantityBtn:nth-child(1):hover {
  background-color: rgb(30, 128, 247) !important;
}

.quantityBtn:nth-child(2):hover {
  background-color: rgb(248, 73, 73) !important;
}
.quantityBtn:nth-child(2):disabled {
  border: 1px solid white !important;
}

.cartImg {
  height: 15rem;
  width: 15rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.orderSummary {
  min-height: 60px;
  height: 60px;
}
.orderSummary :is(div, span, button) {
  min-height: 100%;
  height: 100%;
}
